<?xml version="1.0"?>
<!--
/**
*  Shippit Pty Ltd
*
*  NOTICE OF LICENSE
*
*  This source file is subject to the terms
*  that is available through the world-wide-web at this URL:
*  http://www.shippit.com/terms
*
*  @category   Shippit
*  @copyright  Copyright (c) 2016 by Shippit Pty Ltd (http://www.shippit.com)
*  @author     Matthew Muscat <matthew@mamis.com.au>
*  @license    http://www.shippit.com/terms
*/
-->
<config>
    <modules>
        <Shippit_Shippit>
            <version>4.0.4</version>
        </Shippit_Shippit>
    </modules>

    <global>
        <blocks>
            <shippit>
                <class>Shippit_Shippit_Block</class>
            </shippit>
            <checkout>
                <rewrite>
                    <cart_shipping>Shippit_Shippit_Block_Checkout_Cart_Shipping</cart_shipping>
                </rewrite>
            </checkout>
        </blocks>

        <models>
            <shippit>
                <class>Shippit_Shippit_Model</class>
                <resourceModel>shippit_resource</resourceModel>
            </shippit>

            <shippit_resource>
                <class>Shippit_Shippit_Model_Resource</class>
                
                <entities>
                    <order_sync>
                        <table>shippit_order_sync</table>
                    </order_sync>
                </entities>
            </shippit_resource>
        </models>

        <resources>
            <shippit_setup>
                <setup>
                    <module>Shippit_Shippit</module>
                    <class>Shippit_Shippit_Model_Resource_Setup</class>
                </setup>

                <connection>
                    <use>core_setup</use>
                </connection>
            </shippit_setup>

            <shippit_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shippit_write>

            <shippit_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shippit_read>

            <shippit_delete>
                <connection>
                    <use>core_delete</use>
                </connection>
            </shippit_delete>
        </resources>

        <helpers>
            <shippit>
                <class>Shippit_Shippit_Helper</class>
            </shippit>
        </helpers>

        <events>
            <sales_order_place_after>
                <observers>
                    <shippit_add_order_to_sync>
                        <class>shippit/observer</class>
                        <method>addOrderToSync</method>
                    </shippit_add_order_to_sync>
                </observers>
            </sales_order_place_after>

            <sales_order_save_after>
                <observers>
                    <shippit_sync_order_realtime>
                        <class>shippit/observer</class>
                        <method>syncOrderRealtime</method>
                    </shippit_sync_order_realtime>
                </observers>
            </sales_order_save_after>
        </events>

        <fieldsets>
            <sales_convert_quote>
                <shippit_authority_to_leave>
                    <to_order>*</to_order>
                </shippit_authority_to_leave>

                <shippit_delivery_instructions>
                    <to_order>*</to_order>
                </shippit_delivery_instructions>
            </sales_convert_quote>
        </fieldsets>
    </global>

    <frontend>
        <routers>
            <shippit>
                <use>standard</use>
                <args>
                    <module>Shippit_Shippit</module>
                    <frontName>shippit</frontName>
                </args>
            </shippit>
        </routers>

        <translate>
            <modules>
                <shippit>
                    <files>
                        <default>shippit.csv</default>
                    </files>
                </shippit>
            </modules>
        </translate>

        <layout>
            <updates>
                <shippit>
                    <file>shippit.xml</file>
                </shippit>
            </updates>
        </layout>

        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <shippit_add_delivery_instructions_to_quote>
                        <class>shippit/observer</class>
                        <method>addDeliveryInstructionsToQuote</method>
                    </shippit_add_delivery_instructions_to_quote>

                    <shippit_add_authority_to_leave_to_quote>
                        <class>shippit/observer</class>
                        <method>addAuthorityToLeaveToQuote</method>
                    </shippit_add_authority_to_leave_to_quote>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <shippit before="Mage_Adminhtml">Shippit_Shippit_Adminhtml</shippit>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <shippit>
                    <file>shippit.xml</file>
                </shippit>
            </updates>
        </layout>

        <events>
            <admin_system_config_changed_section_carriers>
                <observers>
                    <shippit_check_api_key>
                        <class>shippit/system_config_observer</class>
                        <method>checkApiKey</method>
                    </shippit_check_api_key>
                </observers>
            </admin_system_config_changed_section_carriers>
        </events>
    </adminhtml>

    <crontab>
        <jobs>
            <shippit_order_sync>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>shippit/sync_order::run</model>
                </run>
            </shippit_order_sync>
        </jobs>
    </crontab>

    <default>
        <carriers>
            <shippit>
                <model>shippit/shipping_carrier_shippit</model>
                <active>0</active>
                <api_key/>
                <environment>production</environment>
                <debug_active>0</debug_active>
                <sync_mode>realtime</sync_mode>
                <allowed_methods>Standard,Premium</allowed_methods>
                <title>Shippit</title>
                <max_timeslots/>
                <send_all_orders_active>0</send_all_orders_active>
                <enabled_product_active>0</enabled_product_active>
                <enabled_product_ids/>
                <enabled_product_attribute_active>0</enabled_product_attribute_active>
                <enabled_product_attribute_code/>
                <enabled_product_attribute_value/>
                <sallowspecific/>
                <specificcountry/>
                <showmethod/>
                <sort_order>10</sort_order>
            </shippit>
        </carriers>
    </default>
</config>