<?xml version="1.0"?>
<!--
/**
 * Shippit Pty Ltd
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the terms
 * that is available through the world-wide-web at this URL:
 * http://www.shippit.com/terms
 *
 * @category   Shippit
 * @copyright  Copyright (c) Shippit Pty Ltd (http://www.shippit.com)
 * @author     Matthew Muscat <matthew@mamis.com.au>
 * @license    http://www.shippit.com/terms
 */
-->
<config>
    <modules>
        <Shippit_Shippit>
            <version>4.8.6</version>
        </Shippit_Shippit>
    </modules>

    <global>
        <blocks>
            <shippit>
                <class>Shippit_Shippit_Block</class>
            </shippit>
            <checkout>
                <rewrite>
                    <cart_shipping>Shippit_Shippit_Block_Checkout_Cart_Shipping</cart_shipping>
                </rewrite>
            </checkout>
        </blocks>

        <models>
            <shippit>
                <class>Shippit_Shippit_Model</class>
                <resourceModel>shippit_resource</resourceModel>
            </shippit>

            <shippit_resource>
                <class>Shippit_Shippit_Model_Resource</class>

                <entities>
                    <!-- Depreciated Node as of v4.1.0 -->
                    <order_sync>
                        <table>shippit_order_sync</table>
                    </order_sync>

                    <sync_order>
                        <table>shippit_sync_order</table>
                    </sync_order>
                    <sync_order_item>
                        <table>shippit_sync_order_item</table>
                    </sync_order_item>
                    <sync_shipment>
                        <table>shippit_sync_shipment</table>
                    </sync_shipment>
                    <sync_shipment_item>
                        <table>shippit_sync_shipment_item</table>
                    </sync_shipment_item>
                </entities>
            </shippit_resource>
        </models>

        <resources>
            <shippit_setup>
                <setup>
                    <module>Shippit_Shippit</module>
                    <class>Shippit_Shippit_Model_Resource_Setup</class>
                </setup>

                <connection>
                    <use>core_setup</use>
                </connection>
            </shippit_setup>

            <shippit_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shippit_write>

            <shippit_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shippit_read>

            <shippit_delete>
                <connection>
                    <use>core_delete</use>
                </connection>
            </shippit_delete>
        </resources>

        <helpers>
            <shippit>
                <class>Shippit_Shippit_Helper</class>
            </shippit>
        </helpers>

        <events>
            <sales_order_place_after>
                <observers>
                    <shippit_add_order_to_sync>
                        <class>shippit/observer_order_sync</class>
                        <method>addOrder</method>
                    </shippit_add_order_to_sync>
                </observers>
            </sales_order_place_after>

            <core_block_abstract_to_html_before>
                <observers>
                    <shippit_update_order_shipment_track_template>
                        <type>singleton</type>
                        <class>shippit/observer_shipping_tracking</class>
                        <method>updateOrderShipmentTrackTemplate</method>
                    </shippit_update_order_shipment_track_template>
                </observers>
            </core_block_abstract_to_html_before>

            <shippit_add_order>
                <observers>
                    <shippit_add_order>
                        <class>shippit/observer_shippit</class>
                        <method>addOrder</method>
                    </shippit_add_order>
                </observers>
            </shippit_add_order>
        </events>

        <fieldsets>
            <sales_convert_quote>
                <shippit_authority_to_leave>
                    <to_order>*</to_order>
                </shippit_authority_to_leave>

                <shippit_delivery_instructions>
                    <to_order>*</to_order>
                </shippit_delivery_instructions>
            </sales_convert_quote>
        </fieldsets>
    </global>

    <frontend>
        <routers>
            <shippit>
                <use>standard</use>
                <args>
                    <module>Shippit_Shippit</module>
                    <frontName>shippit</frontName>
                </args>
            </shippit>
        </routers>

        <translate>
            <modules>
                <shippit>
                    <files>
                        <default>shippit.csv</default>
                    </files>
                </shippit>
            </modules>
        </translate>

        <layout>
            <updates>
                <shippit>
                    <file>shippit.xml</file>
                </shippit>
            </updates>
        </layout>

        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <shippit_add_delivery_instructions_to_quote>
                        <class>shippit/observer_quote_deliveryInstructions</class>
                        <method>addDeliveryInstructionsToQuote</method>
                    </shippit_add_delivery_instructions_to_quote>

                    <shippit_add_authority_to_leave_to_quote>
                        <class>shippit/observer_quote_authorityToLeave</class>
                        <method>addAuthorityToLeaveToQuote</method>
                    </shippit_add_authority_to_leave_to_quote>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <shippit before="Mage_Adminhtml">Shippit_Shippit_Adminhtml</shippit>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <shippit>
                    <file>shippit.xml</file>
                </shippit>
            </updates>
        </layout>

        <events>
            <admin_system_config_changed_section_shippit>
                <observers>
                    <shippit_check_api_key>
                        <class>shippit/observer_system_config</class>
                        <method>checkApiKey</method>
                    </shippit_check_api_key>
                </observers>
            </admin_system_config_changed_section_shippit>

            <adminhtml_widget_container_html_before>
                <observers>
                    <shippit_add_button>
                        <class>shippit/observer_adminhtml_sales_order</class>
                        <type>singleton</type>
                        <method>addShippitButton</method>
                    </shippit_add_button>
                </observers>
            </adminhtml_widget_container_html_before>

            <core_block_abstract_prepare_layout_before>
                <observers>
                    <shippit_add_mass_action>
                        <class>shippit/observer_adminhtml_sales_order</class>
                        <type>singleton</type>
                        <method>addShippitMassAction</method>
                    </shippit_add_mass_action>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>

    <crontab>
        <jobs>
            <shippit_order_sync>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>shippit/api_order::run</model>
                </run>
            </shippit_order_sync>
            <shippit_shipment_sync>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>shippit/api_shipment::run</model>
                </run>
            </shippit_shipment_sync>
        </jobs>
    </crontab>

    <default>
        <!-- Shippit Core Module Configuration -->
        <shippit>
            <general>
                <active>0</active>
                <api_key/>
                <environment>production</environment>
                <debug_active>0</debug_active>
            </general>

            <checkout>
                <authority_to_leave_active>1</authority_to_leave_active>
                <delivery_instructions_active>1</delivery_instructions_active>
            </checkout>

            <sync_order>
                <active>0</active>
                <manual_sync_active>0</manual_sync_active>
                <filter_order_status_active>0</filter_order_status_active>
                <filter_order_status />
                <mode>realtime</mode>
                <send_all_orders>no</send_all_orders>
            </sync_order>

            <sync_item>
                <product_unit_weight>kilograms</product_unit_weight>
                <product_dimension_active>0</product_dimension_active>
                <product_unit_dimension>centimetres</product_unit_dimension>
                <product_dimension_length_attribute_code />
                <product_dimension_width_attribute_code />
                <product_dimension_depth_attribute_code />
                <product_location_active>0</product_location_active>
                <product_location_attribute_code></product_location_attribute_code>
            </sync_item>

            <sync_shipping>
                <active>0</active>
                <update_template_active>0</update_template_active>
            </sync_shipping>
        </shippit>

        <!-- Shippit Carrier Module Configuration -->
        <carriers>
            <shippit>
                <model>shippit/shipping_carrier_shippit</model>
                <active>0</active>
                <debug_active>0</debug_active>
                <allowed_methods>standard,express,priority</allowed_methods>
                <title>Shippit</title>
                <max_timeslots/>
                <enabled_product_active>0</enabled_product_active>
                <enabled_product_ids/>
                <enabled_product_attribute_active>0</enabled_product_attribute_active>
                <enabled_product_attribute_code/>
                <enabled_product_attribute_value/>
                <sallowspecific/>
                <specificcountry/>
                <showmethod/>
                <sort_order>10</sort_order>
            </shippit>
            <shippit_cc>
                <model>shippit/shipping_carrier_clickAndCollect</model>
                <active>0</active>
                <title>Click and Collect</title>
                <method/>
                <sallowspecific/>
                <specificcountry/>
                <sort_order>20</sort_order>
            </shippit_cc>
        </carriers>
    </default>
</config>
