<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Shippit Pty Ltd
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the terms
 * that is available through the world-wide-web at this URL:
 * http://www.shippit.com/terms
 *
 * @category   Shippit
 * @copyright  Copyright (c) Shippit Pty Ltd (http://www.shippit.com)
 * @author     Matthew Muscat <matthew@mamis.com.au>
 * @license    http://www.shippit.com/terms
 */
-->
<config>
    <sections>
        <shippit translate="label" module="shippit">
            <label>Shippit</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>340</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="shippit">
                    <label>General Settings</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <version translate="label">
                            <label>Version</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>shippit/adminhtml_system_config_form_fieldset_version</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </version>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <api_key translate="label">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_key>
                        <environment translate="label">
                            <label>Environment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>shippit/system_config_source_shippit_environment</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </environment>
                        <debug_active translate="label">
                            <label>Debug Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debug_active>
                    </fields>
                </general>

                <checkout>
                    <label>Checkout Options</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <authority_to_leave_active translate="label">
                            <label>Display Authority To Leave</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </authority_to_leave_active>
                        <delivery_instructions_active>
                            <label>Display Delivery Instructions</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </delivery_instructions_active>
                    </fields>
                </checkout>

                <sync_order translate="label" module="shippit">
                    <label>Order Sync</label>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <manual_sync_active translate="label comment">
                            <label>Manual Sync Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Add a button on the order view and a mass action on the order grid to enable a manual sync of orders with Shippit</comment>
                        </manual_sync_active>
                        <filter_order_status_active>
                            <label>Order Status Filtering</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>By default, all orders in the "processing" state are automatically synced with shippit. Enable this option to specify the order statuses to be synced automatically.</comment>
                        </filter_order_status_active>
                        <filter_order_status>
                            <label>Order Statuses</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>shippit/system_config_source_order_status_processing</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <filter_order_status_active>1</filter_order_status_active>
                            </depends>
                            <comment>The order statuses to be synced automatically</comment>
                        </filter_order_status>
                        <mode translate="label">
                            <label>Sync Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>shippit/system_config_source_shippit_sync_mode</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[The mode in which orders are synced with Shippit.<br><strong>Realtime:</strong> Syncs new orders (that are marked as paid) immediately.<br><strong>Scheduled:</strong> Syncs new orders using the Magento Scheduler (Cron) every 5 minutes<br><strong>Custom:</strong> For custom integrations, this mode prevents orders from automatically being triggered for sync, but is otherwise eqivilant to the Scheduled mode.]]></comment>
                        </mode>
                        <send_all_orders translate="label comment">
                            <label>Send All Orders to Shippit</label>
                            <frontend_type>select</frontend_type>
                            <source_model>shippit/system_config_source_shippit_sync_sendAllOrders</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>By Default, only orders that utilise a Shipping Live Quote Shipping Method, or a Shipping Method that is mapped (see Shipping Method Mapping below), are sent to Shippit</comment>
                        </send_all_orders>
                        <shipping_method_mapping translate="label comment">
                            <label>Shipping Method Mapping</label>
                            <frontend_model>shippit/adminhtml_system_config_form_field_sync_order_shippingMethodMapping</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>A mapping of the Magento Shipping Methods to Shippit Services classes - please note: priority mapping will book the next available timeslot</comment>
                        </shipping_method_mapping>
                    </fields>
                </sync_order>

                <sync_item translate="label" module="shippit">
                    <label>Items Sync</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <product_unit_weight translate="label comment">
                            <label>Product Weight Unit</label>
                            <frontend_type>select</frontend_type>
                            <source_model>shippit/system_config_source_catalog_unit_weight</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The unit of measurement used for the product weight</comment>
                        </product_unit_weight>
                        <product_dimension_active translate="label comment">
                            <label>Send Product Dimensions</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Send the product package dimensions to Shippit</comment>
                        </product_dimension_active>
                        <product_unit_dimension translate="label comment">
                            <label>Product Dimensions Unit</label>
                            <frontend_type>select</frontend_type>
                            <source_model>shippit/system_config_source_catalog_unit_dimensions</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The unit of measurement used for the product dimensions</comment>
                            <depends>
                                <product_dimension_active>1</product_dimension_active>
                            </depends>
                        </product_unit_dimension>
                        <product_dimension_length_attribute_code translate="label comment">
                            <label>Product Length Attribute Code</label>
                            <frontend_type>select</frontend_type>
                            <validate>required-entry</validate>
                            <source_model>shippit/system_config_source_catalog_attributes</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The Product Attribute to be used for length data</comment>
                            <depends>
                                <product_dimension_active>1</product_dimension_active>
                            </depends>
                        </product_dimension_length_attribute_code>
                        <product_dimension_width_attribute_code translate="label comment">
                            <label>Product Width Attribute Code</label>
                            <frontend_type>select</frontend_type>
                            <validate>required-entry</validate>
                            <source_model>shippit/system_config_source_catalog_attributes</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The Product Attribute to be used for width data</comment>
                            <depends>
                                <product_dimension_active>1</product_dimension_active>
                            </depends>
                        </product_dimension_width_attribute_code>
                        <product_dimension_depth_attribute_code translate="label comment">
                            <label>Product Depth Attribute Code</label>
                            <frontend_type>select</frontend_type>
                            <validate>required-entry</validate>
                            <source_model>shippit/system_config_source_catalog_attributes</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The Product Attribute to be used for depth data</comment>
                            <depends>
                                <product_dimension_active>1</product_dimension_active>
                            </depends>
                        </product_dimension_depth_attribute_code>
                        <product_location_active translate="label comment">
                            <label>Send Product Location</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Send the product stock location to Shippit</comment>
                        </product_location_active>
                        <product_location_attribute_code translate="label comment">
                            <label>Product Location Attribute Code</label>
                            <frontend_type>select</frontend_type>
                            <source_model>shippit/system_config_source_catalog_attributes</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The Product Attribute to be used for location information on Shippit Pick Slips</comment>
                            <depends>
                                <product_location_active>1</product_location_active>
                            </depends>
                        </product_location_attribute_code>
                    </fields>
                </sync_item>

                <sync_shipping>
                    <label>Shipping Sync</label>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <update_template_active>
                            <label>Update Shipping Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comments>Updates the shipping template to include the tracking link to Shippit</comments>
                        </update_template_active>
                    </fields>
                </sync_shipping>
            </groups>
        </shippit>

        <carriers>
            <groups>
                <shippit translate="label" module="shippit">
                    <label>Shippit - Live Quotes</label>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <allowed_methods translate="label">
                            <label>Allowed Methods</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>shippit/system_config_source_shippit_shipping_quoteMethods</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </allowed_methods>
                        <margin translate="label">
                            <label>Margin Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>shippit/system_config_source_shippit_margin</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Add a margin to the quote</comment>
                        </margin>
                        <margin_amount>
                            <label>Margin Amount</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enter the margin amount to be applied</comment>
                        </margin_amount>
                        <max_timeslots translate="label">
                            <label>Maximum Timeslots</label>
                            <frontend_type>select</frontend_type>
                            <source_model>shippit/system_config_source_shippit_maxTimeslots</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_timeslots>
                        <enabled_product_active translate="label comment">
                            <label>Filter by Enabled Products</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Filter by products for items that are available for shipping via Shippit.</comment>
                        </enabled_product_active>
                        <enabled_product_ids translate="label comment">
                            <label>Enabled Products</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>shippit/system_config_source_catalog_products</source_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <comment>Select the Products for which you want this method to be available.</comment>
                            <depends>
                                <enabled_product_active>1</enabled_product_active>
                            </depends>
                        </enabled_product_ids>
                        <enabled_product_attribute_active translate="label comment">
                            <label>Filter by Product Attribute</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Filter by product attribute for items that are available for shipping via Shippit.</comment>
                        </enabled_product_attribute_active>
                        <enabled_product_attribute_code translate="label comment">
                            <label>Product Attribute Code</label>
                            <frontend_type>select</frontend_type>
                            <source_model>shippit/system_config_source_catalog_attributes</source_model>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select the attribute code to filter by</comment>
                            <depends>
                                <enabled_product_attribute_active>1</enabled_product_attribute_active>
                            </depends>
                        </enabled_product_attribute_code>
                        <enabled_product_attribute_value translate="label comment">
                            <label>Product Attribute Value</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enter the attribute value to filter by. The * character indicates a wildcard.</comment>
                            <depends>
                                <enabled_product_attribute_active>1</enabled_product_attribute_active>
                            </depends>
                        </enabled_product_attribute_value>
                        <sallowspecific translate="label">
                            <label>Ship to Applicable Countries</label>
                            <frontend_type>select</frontend_type>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <sort_order>170</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Ship to Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>180</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </specificcountry>
                        <showmethod translate="label">
                            <label>Show Method if Not Applicable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>190</sort_order>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </showmethod>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                     </fields>
                </shippit>

                <shippit_cc translate="label" module="shippit">
                    <label>Shippit - Click and Collect</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <method translate="label">
                            <label>Method Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </method>
                        <sallowspecific translate="label">
                            <label>Ship to Applicable Countries</label>
                            <frontend_type>select</frontend_type>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Ship to Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>50</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </specificcountry>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                    </fields>
                </shippit_cc>
            </groups>
        </carriers>
    </sections>
</config>
